language: node_js
node_js:
  - node

cache:
  # cache both npm modules and Cypress binary
  directories:
    - ~/.npm
    - ~/.cache

script:
  - npm test
  - npm run start &
  - npm run cy:run
  # after all tests finish running we need
  # to kill all background jobs (like "npm start &")
  - kill $(jobs -p) || true
