doctype html
head
    meta(charset='UTF-8')
    title Mob Time !
    link(rel='stylesheet' type='text/css' href='/css/normalize.css')
    link(href='/css/google-fonts.css' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/css/home.css')
    link(rel='icon' type='image/png' href='image/favicon.png')
    meta(name="viewport" content="width=device-width, initial-scale=0.8")
    meta(http-equiv="refresh" content="10;url=https://mob-time.onrender.com/")
main#home
    div#banner
        section#title
            h1 Hi mob-time user!
            p Since Heroku is discontinuing its free tier at the end of November, mob-time is moving to Render.
            p It's available at 
                a(href='https://mob-time.onrender.com/') https://mob-time.onrender.com/
            p You'll be taken there automatically in 10 seconds.
    div#container
        img#logo(src='/image/mob.png')
        section#title
            h1: a(href="/" title="Home") Mob Time
        form#mob(name='mob' method="post")
            fieldset
                label(for="mob-name") What's your mob&nbsp;?
                input#mob-name(
                    name='mobName' type='text'
                    placeholder='Mob Name'
                    required='true' maxlength='20')
            button#submit(type='submit')
                i(class="fas fa-paper-plane")
                | Join



script(src='/js/fontawesome.js')