/* line 3, ../../src/front/sass/_common.scss */
body {
  text-align: center;
  font-family: Oswald, sans-serif;
  margin: 0;
  font-size: 17px;
}

/* line 10, ../../src/front/sass/_common.scss */
h1 {
  margin: 0;
}
/* line 13, ../../src/front/sass/_common.scss */
h1 a {
  color: #707070;
  padding: 15px 0 10px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #707070;
  font-family: 'Fredericka the Great', cursive;
  margin: auto;
  font-size: 89px;
  font-weight: normal;
  display: block;
}

/* line 27, ../../src/front/sass/_common.scss */
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
/* line 31, ../../src/front/sass/_common.scss */
a:focus {
  outline: none;
}

/* line 36, ../../src/front/sass/_common.scss */
fieldset {
  padding: 0;
  border: none;
  margin-top: 15px;
}

/* line 42, ../../src/front/sass/_common.scss */
i {
  vertical-align: middle;
}

/* line 46, ../../src/front/sass/_common.scss */
#container {
  margin: 20px auto;
  width: 433px;
}

/* line 51, ../../src/front/sass/_common.scss */
#github {
  display: block;
  margin: 20px auto;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  color: #707070;
  padding: 12px;
  box-sizing: border-box;
}
/* line 60, ../../src/front/sass/_common.scss */
#github i {
  margin-right: 10px;
  font-size: 1.5em;
  margin-top: -4px;
}
/* line 66, ../../src/front/sass/_common.scss */
#github:hover {
  color: white;
  background: #707070;
}

/* line 72, ../../src/front/sass/_common.scss */
p a {
  text-decoration: underline;
}

/* line 5, ../../src/front/sass/home.scss */
#home #title {
  width: auto;
  margin: 10px 0 20px;
}
/* line 10, ../../src/front/sass/home.scss */
#home #mob {
  font-size: 1.2em;
  font-weight: normal;
  margin: 10px auto;
}
/* line 15, ../../src/front/sass/home.scss */
#home #mob fieldset {
  text-align: left;
  white-space: nowrap;
  margin: 15px 0;
}
/* line 20, ../../src/front/sass/home.scss */
#home #mob fieldset * {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  white-space: normal;
  vertical-align: middle;
}
/* line 28, ../../src/front/sass/home.scss */
#home #mob label {
  padding-right: 10px;
}
/* line 32, ../../src/front/sass/home.scss */
#home #mob #mob-name, #home #mob #nickname {
  padding: 2px 4px;
  border: 1px solid grey;
}
/* line 37, ../../src/front/sass/home.scss */
#home #mob #submit {
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  vertical-align: bottom;
  padding: 8px 4px;
  border: 1px solid grey;
  font-weight: bold;
  display: block;
  background: repeating-linear-gradient(-45deg, #f8f8f8, #f8f8f8 20px, #efefef 20px, #efefef 40px);
  cursor: pointer;
}
/* line 49, ../../src/front/sass/home.scss */
#home #mob #submit i {
  margin-right: 10px;
  font-size: .8em;
  margin-top: -4px;
}
/* line 55, ../../src/front/sass/home.scss */
#home #mob #submit:hover {
  color: white;
  background: #707070;
}

#banner {
  background-color: gold;
}
