@import "../variables";

button#start-pause {
  border: solid 1px #ccc;
  color: $color;
  position: relative;
  z-index: 10;
  font-weight: bold;
  cursor: pointer;
  outline: none;

  #control-icons {
    font-size: 5em;
    display: inline-block;
  }

  #time-left {
    font-size: 2.5em;
    display: none;
    max-width: 130px;
  }

  #container.counting & {
    color: $color-counting;

    #control-icons {
      display: none;
    }

    #time-left {
      display: inline-block;
    }

    &:hover {
      #control-icons {
        display: inline-block;
      }

      #time-left {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}