@import "../variables";
@import "../fontawesome/fontawesome.scss";
@import "../fontawesome/solid.scss";
@import "../fontawesome/brands.scss";

/*
============================================
Settings
============================================
 */

#panel nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid;
  background: $settings-color;
  color: white;
  border-right: 1px solid #85807f;

  button {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    font-size: 1.3em;
    color: white;
    padding: 10px 12px 12px;
    cursor: pointer;
  }
}

#settings {
  color: white;
  background: $settings-color;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.1em;
  font-family: Roboto, sans-serif;

  h2 {
    margin: 38px 0 10px;
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 8px;
    font-size: 1.2em;

    &:first-child {
      margin-top: 14px;
    }

    i {
      font-size: .9em;
      float: right;
    }
  }

  fieldset {
    margin-top: 20px;
    input[type="checkbox"] {
      margin-right: 10px;
    }

    #minutes-by-person {
      font-size: 1em;
      width: 3em;
      margin-right: 10px;
      border-radius: 0;
      border: solid 1px #ccc;
      background: none;
      padding: 2px 0px 2px 5px;
      color: white;
    }
  }

  #volume-container {
    width: 100%;

    #volume {
      vertical-align: text-bottom;
      width: 171px;
      margin-left: 5px;
      display: inline-block;
    }
  }

  label[for="alarm-url"] {
    padding-right: 10px;
  }

  #alarm-url {
    width: 363px;
    height: 228px;
    font-size: .9em;
  }
}