@import "compass";
@import "slideout";
@import "../variables";
@import "../common";

#panel {
  background: url("/image/mob.png") no-repeat center 20px white;
}

#container {
  font-size: 1.1em;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);

  #title {
    width: auto;
    margin: 25px 0 0;

    h2 {
      font-weight: normal;
      text-align: left;
      font-size: 1.3em;
      em {
        font-weight: bold;
        font-style: normal;
      }
      a {
        float: right;
        color: $color;
        &:hover {
          color: black;
        }
        i {
          font-size: .9em;
        }
      }
    }
  }

  ul#members {
    font-family: Roboto, sans-serif;
    text-align: start;
    padding: 0;
    margin-top: 50px;
    left: 40%;
    position: relative;

    li#driver, li#navigator {
      font-weight: bold;
      width: 50%;
    }
    li {
      display: block;
      list-style-type: none;
      margin: 10px 0;
      width: 33%;
      position: relative;
      i {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

#start-pause, h1 {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

@import "clock";
@import "disappearingCircle";
@import "settings";
