@import "compass";
@import "slideout";
@import "../variables";
@import "../common";

#panel {
  background: url("/image/mob.png") no-repeat center top white;
}

#container {
  font-size: 1.1em;
  display: inline-block;
  width: 460px;
  padding: 54px 0 0;
  background: rgba(255, 255, 255, 0.8);

  #container.counting & {
    color: $color-counting;
  }

  #title {
    width: auto;
    margin: 41px 0 0;

    h1 {
      font-size: 89px;
      width: 433px;
      font-weight: normal;
    }
  }

}

h1 {
  #container.counting & {
    color: $color-counting;
    border-color: $color-counting;
  }
}

#start-pause, h1 {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

@import "clock";
@import "disappearingCircle";
@import "settings";
