@import "compass";
@import "slideout";
@import "../variables";
@import "../common";

#panel {
  background: url("/image/mob.png") no-repeat center 20px white;
}

#container {
  font-size: 1.1em;
  display: inline-block;
  width: 430px;
  padding: 54px 0 0;
  background: rgba(255, 255, 255, 0.8);

  #container.counting & {
    color: $color-counting;
  }

  #title {
    width: auto;
    margin: 41px 0 0;

    h1 {
      font-size: 89px;
      width: 433px;
      font-weight: normal;
    }
    h2 {
      font-weight: normal;
      text-align: left;
      a {
        float: right;
        color: $color;
        &:hover {
          color: black;
        }
        i {
          font-size: .9em;
        }
      }
    }
  }

  #members {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 0;

    li.driver, li.navigator {
      font-weight: bold;
      font-size: 1.5em;
      width: 50%;
    }
    li.driver:before {
      content: "D:";
      margin-right: 5px;
      font-weight: normal;
    }
    li.navigator:before {
      content: "N:";
      margin-right: 5px;
      font-weight: normal;
    }
    li {
      display: inline-block;
      list-style-type: none;
      margin: 10px 0;
      width: 33%;
      i {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

h1 {
  #container.counting & {
    color: $color-counting;
    border-color: $color-counting;
  }
}

#start-pause, h1 {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

@import "clock";
@import "disappearingCircle";
@import "settings";
