@import "variables";
body {
  text-align: center;
  font-family: Oswald, sans-serif;
  margin: 0;
}
h1 {
  font-size: 55px;
  color: $color;
  padding: $space 0 ($space - $font-excess-bottom-padding);
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: $color;
  @include displayFontFamily;
  font-weight: bold;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
fieldset {
  padding: 0;
  border: none;
  margin-top: $space;
}