@import "variables";

body {
  text-align: center;
  font-family: Oswald, sans-serif;
  margin: 0;
  font-size: 17px;
}

h1 {
  margin: 0;

  a {
    color: $color;
    padding: $space 0 ($space - $font-excess-bottom-padding);
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: $color;
    @include displayFontFamily;
    margin: auto;
    font-size: 89px;
    font-weight: normal;
    display: block;
  }
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  &:focus {
    outline: none;
  }
}

fieldset {
  padding: 0;
  border: none;
  margin-top: $space;
}

i {
  margin-top: -4px;
  vertical-align: middle;
}

#container {
  margin: 20px auto;
  width: $container-width;
}

#github {
  display: block;
  margin: 20px auto;
  border-top: 1px solid $color;
  border-bottom: 1px solid $color;
  color: $color;
  padding: 12px;
  box-sizing: border-box;

  i {
    margin-right: 10px;
    font-size: 1.5em;
  }

  &:hover {
    color: white;
    background: $color;
  }
}