$color: #707070;
$color-counting: #00b400;
$space: 15px;
$font-excess-bottom-padding: 5px;
$settings-width: 400px;
$grey: #efefef;
$settings-color: #666160;
$countdown-circle-background-color-on: #a6dea1;
$container-width: 433px;


@mixin displayFontFamily {
  font-family: 'Fredericka the Great', cursive;
}