@import "common";
#home {
  h1 {
    font-size: 89px;
    width: 433px;
    font-weight: normal;
  }

  #title {
    width: auto;
    margin-left: 0;
  }

  #mob {
    font-weight: normal;
    font-size: 22px;

    #name {
      width: 355px;
      padding: 2px 4px;
      border: 1px solid grey;
    }

    #submit {
      margin: 0 0 0 10px;
      vertical-align: bottom;
      padding: 2px 4px;
      border: 1px solid grey;
    }
  }
}