#home {
  h1 {
    font-size: 95px;
    width: 433px;
  }

  #mob {
    font-weight: normal;
    font-size: 29px;
    #name {
      width: 348px;
    }
    #submit {
      margin: 0 0 0 10px;
      padding: 2px;
      vertical-align: bottom;
    }
  }
}