@import "common";
@import "compass";

#home {
  #title {
    width: auto;
    margin: 10px 0 20px;
  }

  #mob {
    font-size: 1.2em;
    font-weight: normal;
    margin: 10px auto;

    fieldset {
      text-align: left;
      white-space: nowrap;
      margin: 15px 0;
    }
    fieldset * {
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      white-space: normal;
      vertical-align: middle;
    }

    label {
      padding-right: 10px;
    }

    #mob-name, #nickname {
      padding: 2px 4px;
      border: 1px solid grey;
    }

    #submit {
      margin: 10px 0;
      width: 100%;
      box-sizing: border-box;
      vertical-align: bottom;
      padding: 8px 4px;
      border: 1px solid grey;
      font-weight: bold;
      display: block;
      background: repeating-linear-gradient(-45deg, #f8f8f8, #f8f8f8 20px, $grey 20px, $grey 40px);
      cursor: pointer;

      i {
        margin-right: 10px;
        font-size: .8em;
        margin-top: -4px;
      }

      &:hover {
        color: white;
        background: $color;
      }
    }
  }
}