@import "compass";
@import "slideout";
$color: #00b400;
$color-counting: #b41300;
$space: 15px;
$font-excess-bottom-padding: 5px;
$settings-width: 400px;
$grey: #efefef;
$settings-color: #666160;

body {
  text-align: center;
  font-family: Righteous, sans-serif;
  margin: 0;
}

#container {
  margin: 20px;
  //margin-right: $settings-width;
  font-size: 1.1em;
  display: inline-block;
  max-width: 450px;

  #container.counting & {
    color: $color-counting;
  }

  section {
    display: inline-block;
    vertical-align: middle;
    margin: $space/2;
  }

  fieldset {
  }
}

#start-pause, h1 {
  width: 200px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}
h1 {
  font-size: 42px;
  color: $color;
  padding: $space 0 ($space - $font-excess-bottom-padding);
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: $color;
  margin: 0;
  #container.counting & {
    color: $color-counting;
    border-color: $color-counting;
  }
}

#minutes-by-person {
  font-size: 1em;
  width: 3em;
  margin-right: 10px;
  border-radius: 0;
  border: solid 1px #ccc;
  background: none;
  padding: 2px 5px;
  color: white;
}

button#start-pause {
  border: solid 1px #ccc;
  color: $color;
  position: relative;
  z-index: 10;
  font-weight: bold;
  cursor: pointer;
  outline: none;

  #control-icons {
    font-size: 5.8em;
    display: inline-block;
  }
  #time-left {
    font-size: 2.8em;
    display: none;
  }

  #container.counting & {
    color: $color-counting;

    #control-icons {
      display: none;
    }
    #time-left {
      display: inline-block;
    }

    &:hover {
      #control-icons {
        display: inline-block;
      }
      #time-left {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

label[for="alarm-url"] {
  padding-right: 10px;
}
#alarm-url {
    width: 363px;
    height: 228px;
}

/*
============================================
Round clock
============================================
 */
$circle-outside-diameter: 200px;
$circle-stroke-width: 14px;
$circle-middle-diameter: $circle-outside-diameter - $circle-stroke-width;
$circle-inside-diameter: $circle-outside-diameter - ($circle-stroke-width * 2);
$circle-middle-perimeter: $circle-middle-diameter * pi();
$circle-dasharray: $circle-middle-perimeter;

$enclosing-circle-padding: 0px;
$enclosing-circle-diameter: $circle-outside-diameter + 2 * $enclosing-circle-padding;

$enclosed-circle-diameter: $circle-inside-diameter - 2 * $enclosing-circle-padding;

#countdown {
  position: relative;
  margin: auto;
  height: $enclosing-circle-diameter;
  width: $enclosing-circle-diameter;
  text-align: center;
  background: #e4c2bb;
  border-radius: $enclosing-circle-diameter / 2;
  border: solid 1px #ccc;
}

#start-pause {
  display: inline-block;
  line-height: $enclosed-circle-diameter;
  background: white;
  width: $enclosed-circle-diameter;
  height: $enclosed-circle-diameter;
  border-radius: $enclosed-circle-diameter / 2;
  margin-top: $enclosing-circle-padding * 2 + $circle-stroke-width;
}

svg {
  position: absolute;
  top: $enclosing-circle-padding;
  right: $enclosing-circle-padding;
  width: $circle-outside-diameter;
  height: $circle-outside-diameter;
  transform: rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: $circle-dasharray;
  stroke-dashoffset: $circle-dasharray;
  stroke-width: $circle-stroke-width;
  stroke: $color;
  fill: none;

  #container.counting & {
    stroke: $color-counting;
  }
}

/*
============================================
Settings
============================================
 */
fieldset {
  padding: 0;
  border: none;
  margin-top: $space/2;
}

#panel nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid;
  background: $settings-color;
  color: white;
  border-right: 1px solid #85807f;

  button {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    font-size: 2em;
    color: white;
    padding: 0 7px 5px 7px;
    cursor: pointer;
  }
}

#settings {
  color: white;
  background: $settings-color;
}
