@import "compass";
$color: #00b400;
$color-counting: #b41300;
$space: 15px;
$font-excess-bottom-padding: 5px;

body {
  text-align: center;
}

#container {
  margin: 20px;
  font-size: 1.1em;
  font-family: Righteous, sans-serif;
  display: inline-block;
  max-width: 450px;

  #container.counting & {
    color: $color-counting;
  }

  section {
    display: inline-block;
    vertical-align: middle;
    margin: $space/2;
  }

  fieldset {
    padding: 0;
    border: none;
    margin-top: $space/2;
  }
}

#start-pause, h1 {
  width: 200px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}
h1 {
  font-size: 42px;
  color: $color;
  padding: $space 0 ($space - $font-excess-bottom-padding);
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: $color;
  margin: 0;
  #container.counting & {
    color: $color-counting;
    border-color: $color-counting;
  }
}

#minutes-by-person {
  font-size: 1em;
  width: 3em;
  margin-right: 10px;
  border-radius: 0;
  border: solid 1px #ccc;
  background: none;
  padding: 2px 5px;
}

button#start-pause {
  border: solid 1px #ccc;
  color: $color;
  position: relative;
  z-index: 10;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;

  #container.counting & {
    color: $color-counting;
  }

  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

label[for="alarm-url"] {
  position: relative;
  bottom: 112px;
  padding-right: 10px;
}
#alarm-url {
    width: 363px;
    height: 228px;
}

/*
============================================
Round clock
============================================
 */
$circle-outside-diameter: 200px;
$circle-stroke-width: 14px;
$circle-middle-diameter: $circle-outside-diameter - $circle-stroke-width;
$circle-inside-diameter: $circle-outside-diameter - ($circle-stroke-width * 2);
$circle-middle-perimeter: $circle-middle-diameter * pi();
$circle-dasharray: $circle-middle-perimeter;

$enclosing-circle-padding: 5px;
$enclosing-circle-diameter: $circle-outside-diameter + 2 * $enclosing-circle-padding;

$enclosed-circle-diameter: $circle-inside-diameter - 2 * $enclosing-circle-padding;

#countdown {
  position: relative;
  margin: auto;
  height: $enclosing-circle-diameter;
  width: $enclosing-circle-diameter;
  text-align: center;
  background: rgba(100, 100, 100, 0.1);
  border-radius: $enclosing-circle-diameter / 2;
  border: solid 1px #ccc;
}

#start-pause {
  display: inline-block;
  line-height: $enclosed-circle-diameter;
  background: white;
  width: $enclosed-circle-diameter;
  height: $enclosed-circle-diameter;
  border-radius: $enclosed-circle-diameter / 2;
  margin-top: $enclosing-circle-padding * 2 + $circle-stroke-width;
}

svg {
  position: absolute;
  top: $enclosing-circle-padding;
  right: $enclosing-circle-padding;
  width: $circle-outside-diameter;
  height: $circle-outside-diameter;
  transform: rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: $circle-dasharray;
  stroke-dashoffset: $circle-dasharray;
  stroke-width: $circle-stroke-width;
  stroke: $color;
  fill: none;

  #container.counting & {
    stroke: $color-counting;
  }
}