/* line 2, ../sass/_common.scss */
body {
  text-align: center;
  font-family: Oswald, sans-serif;
  margin: 0;
  font-size: 17px;
}

/* line 8, ../sass/_common.scss */
h1 {
  font-size: 55px;
  color: #707070;
  padding: 15px 0 10px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #707070;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  margin: auto;
}

/* line 19, ../sass/_common.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 23, ../sass/_common.scss */
fieldset {
  padding: 0;
  border: none;
  margin-top: 15px;
}

/* line 28, ../sass/_common.scss */
i {
  margin-top: -4px;
  vertical-align: middle;
}

/* line 32, ../sass/_common.scss */
#container {
  margin: 20px auto;
  width: 433px;
}

/* line 36, ../sass/_common.scss */
#github {
  display: block;
  margin: 20px auto;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  color: #707070;
  padding: 12px;
  box-sizing: border-box;
}
/* line 45, ../sass/_common.scss */
#github i {
  margin-right: 10px;
  font-size: 1.5em;
}
/* line 50, ../sass/_common.scss */
#github:hover {
  color: white;
  background: #707070;
}

/* line 5, ../sass/home.scss */
#home #title {
  width: auto;
  margin-top: 10px;
}
/* line 9, ../sass/home.scss */
#home #title h1 {
  font-size: 89px;
  font-weight: normal;
}
/* line 16, ../sass/home.scss */
#home #mob {
  font-size: 1.2em;
  font-weight: normal;
  margin: 10px auto;
}
/* line 21, ../sass/home.scss */
#home #mob fieldset {
  text-align: left;
  white-space: nowrap;
  margin: 15px 0;
}
/* line 26, ../sass/home.scss */
#home #mob fieldset * {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  white-space: normal;
  vertical-align: middle;
}
/* line 34, ../sass/home.scss */
#home #mob label {
  padding-right: 10px;
}
/* line 38, ../sass/home.scss */
#home #mob #mob-name, #home #mob #nickname {
  padding: 2px 4px;
  border: 1px solid grey;
}
/* line 43, ../sass/home.scss */
#home #mob #submit {
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  vertical-align: bottom;
  padding: 8px 4px;
  border: 2px solid grey;
  font-weight: bold;
  display: block;
  background: repeating-linear-gradient(-45deg, #f8f8f8, #f8f8f8 20px, #efefef 20px, #efefef 40px);
  cursor: pointer;
}
/* line 55, ../sass/home.scss */
#home #mob #submit i {
  margin-right: 10px;
  font-size: .8em;
}
/* line 60, ../sass/home.scss */
#home #mob #submit:hover {
  color: white;
  background: #707070;
}
