/* line 2, ../sass/_common.scss */
body {
  text-align: center;
  font-family: Oswald, sans-serif;
  margin: 0;
}

/* line 7, ../sass/_common.scss */
h1 {
  font-size: 55px;
  color: #707070;
  padding: 15px 0 10px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #707070;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  margin: auto;
}

/* line 19, ../sass/_common.scss */
fieldset {
  padding: 0;
  border: none;
  margin-top: 15px;
}

/* line 3, ../sass/home.scss */
#home #title {
  width: auto;
  margin-left: 0;
}
/* line 7, ../sass/home.scss */
#home #title h1 {
  font-size: 89px;
  width: 433px;
  font-weight: normal;
}
/* line 14, ../sass/home.scss */
#home #mob {
  font-weight: normal;
  font-size: 17px;
  width: 433px;
  margin: 10px auto;
}
/* line 20, ../sass/home.scss */
#home #mob fieldset {
  text-align: left;
  white-space: nowrap;
  margin: 15px 0;
}
/* line 25, ../sass/home.scss */
#home #mob fieldset * {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  white-space: normal;
  vertical-align: middle;
}
/* line 33, ../sass/home.scss */
#home #mob label {
  padding-right: 10px;
}
/* line 37, ../sass/home.scss */
#home #mob #mob-name, #home #mob #nickname {
  padding: 2px 4px;
  border: 1px solid grey;
}
/* line 42, ../sass/home.scss */
#home #mob #submit {
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  vertical-align: bottom;
  padding: 8px 4px;
  border: 1px solid grey;
  font-weight: bold;
  display: block;
}
/* line 52, ../sass/home.scss */
#home #mob #submit i {
  margin-right: 10px;
  font-size: .8em;
}
