/* line 1, ../sass/_slideout.scss */
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 400px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

/* line 13, ../sass/_slideout.scss */
.slideout-menu-left {
  left: 0;
}

/* line 17, ../sass/_slideout.scss */
.slideout-menu-right {
  right: 0;
}

/* line 21, ../sass/_slideout.scss */
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh;
}

/* line 29, ../sass/_slideout.scss */
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

/* line 35, ../sass/_slideout.scss */
.slideout-open .slideout-menu {
  display: block;
}

/* line 11, ../sass/main.scss */
body {
  text-align: center;
  font-family: Righteous, sans-serif;
  margin: 0;
}

/* line 17, ../sass/main.scss */
#container {
  margin: 20px;
  font-size: 1.1em;
  display: inline-block;
  max-width: 450px;
}
/* line 24, ../sass/main.scss */
#container.counting #container {
  color: #b41300;
}
/* line 28, ../sass/main.scss */
#container section {
  display: inline-block;
  vertical-align: middle;
  margin: 7.5px;
}

/* line 38, ../sass/main.scss */
#start-pause, h1 {
  width: 200px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

/* line 44, ../sass/main.scss */
h1 {
  font-size: 42px;
  color: #00b400;
  padding: 15px 0 10px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #00b400;
  margin: 0;
}
/* line 52, ../sass/main.scss */
#container.counting h1 {
  color: #b41300;
  border-color: #b41300;
}

/* line 58, ../sass/main.scss */
#minutes-by-person {
  font-size: 1em;
  width: 3em;
  margin-right: 10px;
  border-radius: 0;
  border: solid 1px #ccc;
  background: none;
  padding: 2px 5px;
  color: white;
}

/* line 69, ../sass/main.scss */
button#start-pause {
  border: solid 1px #ccc;
  color: #00b400;
  position: relative;
  z-index: 10;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
/* line 79, ../sass/main.scss */
#container.counting button#start-pause {
  color: #b41300;
}
/* line 83, ../sass/main.scss */
button#start-pause:focus {
  outline: none;
}
/* line 86, ../sass/main.scss */
button#start-pause::-moz-focus-inner {
  border: 0;
}

/* line 91, ../sass/main.scss */
label[for="alarm-url"] {
  padding-right: 10px;
}

/* line 94, ../sass/main.scss */
#alarm-url {
  width: 363px;
  height: 228px;
}

/*
============================================
Round clock
============================================
 */
/* line 116, ../sass/main.scss */
#countdown {
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  text-align: center;
  background: #e4c2bb;
  border-radius: 100px;
  border: solid 1px #ccc;
}

/* line 127, ../sass/main.scss */
#start-pause {
  display: inline-block;
  line-height: 172px;
  background: white;
  width: 172px;
  height: 172px;
  border-radius: 86px;
  margin-top: 14px;
}

/* line 137, ../sass/main.scss */
svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
  transform: rotateZ(-90deg);
}

/* line 146, ../sass/main.scss */
svg circle {
  stroke-dasharray: 584.33623px;
  stroke-dashoffset: 584.33623px;
  stroke-width: 14px;
  stroke: #00b400;
  fill: none;
}
/* line 153, ../sass/main.scss */
#container.counting svg circle {
  stroke: #b41300;
}

/*
============================================
Settings
============================================
 */
/* line 163, ../sass/main.scss */
fieldset {
  padding: 0;
  border: none;
  margin-top: 7.5px;
}

/* line 169, ../sass/main.scss */
#panel nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  border-left: 1px solid;
  background: #666160;
  color: white;
  border-right: 1px solid #85807f;
}
/* line 180, ../sass/main.scss */
#panel nav button {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  font-size: 3em;
  color: white;
  padding: 5px;
  cursor: pointer;
}

/* line 191, ../sass/main.scss */
#settings {
  color: white;
  background: #666160;
}
