/* line 7, ../sass/main.scss */
body {
  text-align: center;
}

/* line 11, ../sass/main.scss */
#container {
  margin: 20px;
  font-size: 1.1em;
  font-family: Righteous, sans-serif;
  display: inline-block;
  max-width: 450px;
}
/* line 18, ../sass/main.scss */
#container.counting #container {
  color: #b41300;
}
/* line 22, ../sass/main.scss */
#container section {
  display: inline-block;
  vertical-align: middle;
  margin: 7.5px;
}
/* line 28, ../sass/main.scss */
#container fieldset {
  padding: 0;
  border: none;
  margin-top: 7.5px;
}

/* line 35, ../sass/main.scss */
#start-pause, h1 {
  width: 200px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

/* line 41, ../sass/main.scss */
h1 {
  font-size: 42px;
  color: #00b400;
  padding: 15px 0 10px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #00b400;
  margin: 0;
}
/* line 49, ../sass/main.scss */
#container.counting h1 {
  color: #b41300;
  border-color: #b41300;
}

/* line 55, ../sass/main.scss */
#minutes-by-person {
  font-size: 1em;
  width: 3em;
  margin-right: 10px;
  border-radius: 0;
  border: solid 1px #ccc;
  background: none;
  padding: 2px 5px;
}

/* line 65, ../sass/main.scss */
button#start-pause {
  border: solid 1px #ccc;
  color: #00b400;
  position: relative;
  z-index: 10;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
/* line 75, ../sass/main.scss */
#container.counting button#start-pause {
  color: #b41300;
}
/* line 79, ../sass/main.scss */
button#start-pause:focus {
  outline: none;
}
/* line 82, ../sass/main.scss */
button#start-pause::-moz-focus-inner {
  border: 0;
}

/* line 87, ../sass/main.scss */
label[for="alarm-url"] {
  position: relative;
  bottom: 112px;
  padding-right: 10px;
}

/* line 92, ../sass/main.scss */
#alarm-url {
  width: 363px;
  height: 228px;
}

/*
============================================
Round clock
============================================
 */
/* line 114, ../sass/main.scss */
#countdown {
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  text-align: center;
  background: rgba(100, 100, 100, 0.1);
  border-radius: 100px;
  border: solid 1px #ccc;
}

/* line 125, ../sass/main.scss */
#start-pause {
  display: inline-block;
  line-height: 172px;
  background: white;
  width: 172px;
  height: 172px;
  border-radius: 86px;
  margin-top: 14px;
}

/* line 135, ../sass/main.scss */
svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
  transform: rotateZ(-90deg);
}

/* line 144, ../sass/main.scss */
svg circle {
  stroke-dasharray: 584.33623px;
  stroke-dashoffset: 584.33623px;
  stroke-width: 14px;
  stroke: #00b400;
  fill: none;
}
/* line 151, ../sass/main.scss */
#container.counting svg circle {
  stroke: #b41300;
}
