/* line 1, ../sass/_slideout.scss */
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 400px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

/* line 13, ../sass/_slideout.scss */
.slideout-menu-left {
  left: 0;
}

/* line 17, ../sass/_slideout.scss */
.slideout-menu-right {
  right: 0;
}

/* line 21, ../sass/_slideout.scss */
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh;
}

/* line 29, ../sass/_slideout.scss */
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

/* line 35, ../sass/_slideout.scss */
.slideout-open .slideout-menu {
  display: block;
}

/* line 12, ../sass/main.scss */
body {
  text-align: center;
  font-family: Righteous, sans-serif;
  margin: 0;
}

/* line 18, ../sass/main.scss */
#container {
  margin: 20px;
  font-size: 1.1em;
  display: inline-block;
  max-width: 450px;
}
/* line 25, ../sass/main.scss */
#container.counting #container {
  color: #00b400;
}
/* line 29, ../sass/main.scss */
#container section {
  display: inline-block;
  vertical-align: middle;
  margin: 7.5px;
}

/* line 39, ../sass/main.scss */
#start-pause, h1 {
  width: 200px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

/* line 45, ../sass/main.scss */
h1 {
  font-size: 42px;
  color: #707070;
  padding: 15px 0 10px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #707070;
  margin: 0;
}
/* line 53, ../sass/main.scss */
#container.counting h1 {
  color: #00b400;
  border-color: #00b400;
}

/* line 59, ../sass/main.scss */
#volume-container {
  width: 100%;
  margin: 10px 0;
}
/* line 63, ../sass/main.scss */
#volume-container #volume {
  vertical-align: bottom;
  width: 171px;
  margin-left: 5px;
  display: inline-block;
}

/* line 71, ../sass/main.scss */
#minutes-by-person {
  font-size: 1em;
  width: 3em;
  margin-right: 10px;
  border-radius: 0;
  border: solid 1px #ccc;
  background: none;
  padding: 2px 5px;
  color: white;
}

/* line 82, ../sass/main.scss */
button#start-pause {
  border: solid 1px #ccc;
  color: #707070;
  position: relative;
  z-index: 10;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
/* line 91, ../sass/main.scss */
button#start-pause #control-icons {
  font-size: 5.8em;
  display: inline-block;
}
/* line 95, ../sass/main.scss */
button#start-pause #time-left {
  font-size: 2.8em;
  display: none;
  max-width: 130px;
}
/* line 101, ../sass/main.scss */
#container.counting button#start-pause {
  color: #00b400;
}
/* line 104, ../sass/main.scss */
#container.counting button#start-pause #control-icons {
  display: none;
}
/* line 107, ../sass/main.scss */
#container.counting button#start-pause #time-left {
  display: inline-block;
}
/* line 112, ../sass/main.scss */
#container.counting button#start-pause:hover #control-icons {
  display: inline-block;
}
/* line 115, ../sass/main.scss */
#container.counting button#start-pause:hover #time-left {
  display: none;
}
/* line 121, ../sass/main.scss */
button#start-pause:focus {
  outline: none;
}
/* line 124, ../sass/main.scss */
button#start-pause::-moz-focus-inner {
  border: 0;
}

/* line 129, ../sass/main.scss */
label[for="alarm-url"] {
  padding-right: 10px;
}

/* line 132, ../sass/main.scss */
#alarm-url {
  width: 363px;
  height: 228px;
}

/*
============================================
Round clock
============================================
 */
/* line 154, ../sass/main.scss */
#countdown {
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  text-align: center;
  background: #a6dea1;
  border-radius: 100px;
  border: solid 1px #ccc;
}

/* line 165, ../sass/main.scss */
#start-pause {
  display: inline-block;
  background: white;
  width: 172px;
  height: 172px;
  border-radius: 86px;
  margin-top: 14px;
}

/* line 174, ../sass/main.scss */
svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
  transform: rotateZ(-90deg);
}

/* line 183, ../sass/main.scss */
svg circle {
  stroke-dasharray: 584.33623px;
  stroke-dashoffset: 584.33623px;
  stroke-width: 14px;
  stroke: #707070;
  fill: none;
}
/* line 190, ../sass/main.scss */
#container.counting svg circle {
  stroke: #00b400;
}

/*
============================================
Settings
============================================
 */
/* line 200, ../sass/main.scss */
fieldset {
  padding: 0;
  border: none;
  margin-top: 7.5px;
}

/* line 206, ../sass/main.scss */
#panel nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid;
  background: #666160;
  color: white;
  border-right: 1px solid #85807f;
}
/* line 216, ../sass/main.scss */
#panel nav button {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  font-size: 2em;
  color: white;
  padding: 0 7px 5px 7px;
  cursor: pointer;
}

/* line 227, ../sass/main.scss */
#settings {
  color: white;
  background: #666160;
}
