doctype html
head
    meta(charset='UTF-8')
    title Mob Time !
    link(rel='stylesheet' type='text/css' href='/css/normalize.css')
    link(href='/css/google-fonts.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/bootstrap-tagsinput.css' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/css/mob/main.css')
    link(rel='icon' type='image/png' href='/image/favicon.png')
    meta(name="viewport" content="width=device-width, initial-scale=0.8")
    meta(http-equiv="refresh" content="10;url=https://mob-time.onrender.com/")
main#panel
    div#banner
        section#title
            h1 Hi mob-time user!
            p Since Heroku is discontinuing its free tier at the end of November, mob-time is moving to Render.
            p It's available at 
                a(href='https://mob-time.onrender.com/') https://mob-time.onrender.com/
            p You'll be taken there automatically in 10 seconds.
    nav
        button.settings-button
            i(class="fas fa-cog")
    form#container(name='container')
        section#clock
            button#start-pause
                i#control-icons.fas
                span#time-left
            svg#countdown
                circle#countdown-circle-background(r='92' cx='99' cy='99')
                circle#countdown-circle(r='92' cx='99' cy='99')
            svg#breaks
                circle#breaks-outer(r='107' cx='120' cy='120')
                circle#breaks-background(r='103' cx='120' cy='120')
                circle#breaks-circle(r='103' cx='120' cy='120')
        section#title
            h1: a(href="/" title="Home") Mob Time
            h2 You are in the <em>#{mobName}</em> mob
                a(href="javascript:" id="share-room" title="Copy mob url to clipboard")
                    i(class="fas fa-link")

        div
            table#members

        div#enableNotifications

include settings

audio#alarm-sound
    source(type='audio/mpeg' src='')

include scripts