doctype html
head
    meta(charset='UTF-8')
    title Mob Time !
    link(rel='stylesheet' type='text/css' href='/css/normalize.css')
    link(href='/css/google-fonts.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/bootstrap-tagsinput.css' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/css/mob/main.css')
    link(rel='icon' type='image/png' href='/image/favicon.png')
    meta(name="viewport" content="width=device-width, initial-scale=0.8")
main#panel
    nav
        button.settings-button
            i(class="fas fa-cog")
    form#container(name='container')
        section#clock
            button#start-pause
                i#control-icons.fas
                span#time-left
            svg#countdown
                circle#countdown-circle-background(r='92' cx='99' cy='99')
                circle#countdown-circle(r='92' cx='99' cy='99')
            if pomodoro.featureOn
                svg#pomodoro
                    circle#pomodoro-outer(r='107' cx='120' cy='120')
                    circle#pomodoro-background(r='103' cx='120' cy='120')
                    circle#pomodoro-circle(r='103' cx='120' cy='120')
        section#title
            h1: a(href="/" title="Home") Mob Time
            h2 You are in the <em>#{mobName}</em> mob
                a(href="javascript:" id="share-room" title="Copy mob url to clipboard")
                    i(class="fas fa-link")
        if members
            ul#members
                each member, i in members
                    if i == 0
                        li#driver
                            i(class="fas fa-dharmachakra")
                            | #{member}
                    else if i == 1
                        li#navigator
                            i(class="fas fa-drafting-compass")
                            | #{member}
                    else
                        li#mobbers
                            i(class="fas fa-user-secret")
                            | #{member}

        div#enableNotifications

include settings

audio#alarm-sound
    source(type='audio/mpeg' src='')

include scripts