/* line 1, ../../sass/mob/_slideout.scss */
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 400px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

/* line 13, ../../sass/mob/_slideout.scss */
.slideout-menu-left {
  left: 0;
}

/* line 17, ../../sass/mob/_slideout.scss */
.slideout-menu-right {
  right: 0;
}

/* line 21, ../../sass/mob/_slideout.scss */
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh;
}

/* line 29, ../../sass/mob/_slideout.scss */
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

/* line 35, ../../sass/mob/_slideout.scss */
.slideout-open .slideout-menu {
  display: block;
}

/* line 2, ../../sass/_common.scss */
body {
  text-align: center;
  font-family: Quicksand, sans-serif;
  margin: 0;
}

/* line 7, ../../sass/_common.scss */
h1 {
  font-size: 55px;
  color: #707070;
  padding: 15px 0 10px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #707070;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  margin: auto;
}

/* line 19, ../../sass/_common.scss */
fieldset {
  padding: 0;
  border: none;
  margin-top: 15px;
}

/* line 6, ../../sass/mob/main.scss */
#container {
  margin: 20px;
  font-size: 1.1em;
  display: inline-block;
  max-width: 550px;
}
/* line 12, ../../sass/mob/main.scss */
#container.counting #container {
  color: #00b400;
}
/* line 16, ../../sass/mob/main.scss */
#container section {
  display: inline-block;
  vertical-align: middle;
  margin: 7.5px;
}
/* line 22, ../../sass/mob/main.scss */
#container #title {
  margin: 0 0 0 22px;
  width: 275px;
}
/* line 29, ../../sass/mob/main.scss */
#container #title ul#members {
  text-align: left;
  padding: 0;
  margin: 10px 0;
}
/* line 34, ../../sass/mob/main.scss */
#container #title ul#members li {
  list-style-type: none;
}
/* line 37, ../../sass/mob/main.scss */
#container #title ul#members li#mobbers {
  color: #707070;
  margin: 10px 0;
}
/* line 42, ../../sass/mob/main.scss */
#container #title ul#members li#driver, #container #title ul#members li#navigator {
  display: inline-block;
  width: 50%;
}
/* line 47, ../../sass/mob/main.scss */
#container #title ul#members li i {
  margin-right: 10px;
}

/* line 57, ../../sass/mob/main.scss */
#container.counting h1 {
  color: #00b400;
  border-color: #00b400;
}

/* line 63, ../../sass/mob/main.scss */
#start-pause, h1 {
  width: 275px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

/* line 3, ../../sass/mob/_clock.scss */
button#start-pause {
  border: solid 1px #ccc;
  color: #707070;
  position: relative;
  z-index: 10;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
/* line 12, ../../sass/mob/_clock.scss */
button#start-pause #control-icons {
  font-size: 5em;
  display: inline-block;
}
/* line 17, ../../sass/mob/_clock.scss */
button#start-pause #time-left {
  font-size: 2.5em;
  display: none;
  max-width: 130px;
}
/* line 23, ../../sass/mob/_clock.scss */
#container.counting button#start-pause {
  color: #00b400;
}
/* line 26, ../../sass/mob/_clock.scss */
#container.counting button#start-pause #control-icons {
  display: none;
}
/* line 30, ../../sass/mob/_clock.scss */
#container.counting button#start-pause #time-left {
  display: inline-block;
}
/* line 35, ../../sass/mob/_clock.scss */
#container.counting button#start-pause:hover #control-icons {
  display: inline-block;
}
/* line 39, ../../sass/mob/_clock.scss */
#container.counting button#start-pause:hover #time-left {
  display: none;
}
/* line 45, ../../sass/mob/_clock.scss */
button#start-pause:focus {
  outline: none;
}
/* line 49, ../../sass/mob/_clock.scss */
button#start-pause::-moz-focus-inner {
  border: 0;
}

/*
============================================
Round clock
============================================
 */
/* line 20, ../../sass/mob/_disappearingCircle.scss */
#countdown {
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  text-align: center;
  background: #a6dea1;
  border-radius: 100px;
  border: solid 1px #ccc;
}

/* line 31, ../../sass/mob/_disappearingCircle.scss */
#start-pause {
  display: inline-block;
  background: white;
  width: 172px;
  height: 172px;
  border-radius: 86px;
  margin-top: 14px;
}

/* line 40, ../../sass/mob/_disappearingCircle.scss */
svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
  transform: rotateZ(-90deg);
}

/* line 49, ../../sass/mob/_disappearingCircle.scss */
svg circle {
  stroke-dasharray: 584.33623px;
  stroke-dashoffset: 584.33623px;
  stroke-width: 14px;
  stroke: #707070;
  fill: none;
}
/* line 56, ../../sass/mob/_disappearingCircle.scss */
#container.counting svg circle {
  stroke: #00b400;
}

/*
============================================
Settings
============================================
 */
/* line 9, ../../sass/mob/_settings.scss */
#panel nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid;
  background: #666160;
  color: white;
  border-right: 1px solid #85807f;
}
/* line 19, ../../sass/mob/_settings.scss */
#panel nav button {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  font-size: 2em;
  color: white;
  padding: 0 7px 5px 7px;
  cursor: pointer;
}

/* line 30, ../../sass/mob/_settings.scss */
#settings {
  color: white;
  background: #666160;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.2em;
}
/* line 41, ../../sass/mob/_settings.scss */
#settings fieldset input[type="checkbox"] {
  margin-right: 10px;
}
/* line 45, ../../sass/mob/_settings.scss */
#settings fieldset #minutes-by-person {
  font-size: 1em;
  width: 3em;
  margin-right: 10px;
  border-radius: 0;
  border: solid 1px #ccc;
  background: none;
  padding: 2px 0px 2px 5px;
  color: white;
}
/* line 57, ../../sass/mob/_settings.scss */
#settings #volume-container {
  width: 100%;
  margin: 10px 0;
}
/* line 61, ../../sass/mob/_settings.scss */
#settings #volume-container #volume {
  vertical-align: text-bottom;
  width: 171px;
  margin-left: 5px;
  display: inline-block;
}
/* line 69, ../../sass/mob/_settings.scss */
#settings label[for="alarm-url"] {
  padding-right: 10px;
}
/* line 73, ../../sass/mob/_settings.scss */
#settings #alarm-url {
  width: 363px;
  height: 228px;
}
