doctype html
head
    meta(charset='UTF-8')
    title Mob Time !
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css')
    link(href='https://fonts.googleapis.com/css?family=Fredericka+the+Great|Quicksand|Quicksand:600|Quicksand:700&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='stylesheets/home.css')
    link(rel='icon' type='image/png' href='image/favicon.png')
main#home
    div#container
        img(src='/image/mob.png')
        section#title
            h1 Mob Time
        form#mob(name='mob')
            fieldset
                label(for="mob-name") What's your mob&nbsp;?
                input#mob-name(
                    name='mob-name' type='text'
                    placeholder='Mob Name'
                    required='true' maxlength='20')
            button#submit(type='submit')
                i(class="fas fa-paper-plane")
                | Join

script(src='https://kit.fontawesome.com/36321d34e2.js')
script(src='js/dev/home.js')