doctype html
head
    meta(charset='UTF-8')
    title Mob Time !
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css')
    link(href='https://fonts.googleapis.com/css?family=Fredericka+the+Great|Quicksand|Quicksand:600|Quicksand:700&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/stylesheets/mob/main.css')
    link(rel='icon' type='image/png' href='/image/favicon.png')
main#panel
    nav
        button.settings-button &#x2699;
    form#container(name='container')
        section
            #countdown
                button#start-pause
                    i#control-icons.fas
                    span#time-left
                svg
                    circle#countdown-circle(r='93' cx='100' cy='100')
        section#title
            h1 Mob Time
            //ul#members
            //    li#driver
            //        i(class="fas fa-dharmachakra")
            //        | Hadrien
            //    li#navigator
            //        i(class="fas fa-drafting-compass")
            //        | Thomas
            //    li#mobbers
            //        i(class="fas fa-user-secret")
            //        | Samy, Aurélien

section#settings
    fieldset
        input#minutes-by-person(type='number' min='1' max='60' required='' value='10' size='2')
        label(for='minutes-by-person') minutes / pers.
    fieldset
        input#second-counting-mode(type='checkbox')
        label(for='second-counting-mode') Afficher les secondes
    fieldset#volume-container
        label(for='volume')
            i.fas.fa-volume-up
        input#volume(type='range' min='1' max='100' value='50')
    fieldset
        label(for='alarm-url') mp3
        textarea#alarm-url
            | https://www.myinstants.com/media/sounds/celebration.mp3
            | https://www.myinstants.com/media/sounds/denis-brogniart-ah-original.mp3
            | https://www.myinstants.com/media/sounds/over-9000.mp3
            | https://www.myinstants.com/media/sounds/psy-gangnam-style-1.mp3
            | https://www.myinstants.com/media/sounds/intro-uefa-champions-league2.mp3
            | https://www.myinstants.com/media/sounds/-fort-boyard-audio-cutter.mp3
            | https://www.myinstants.com/media/sounds/poudreperlinpinpin.mp3
            | https://www.myinstants.com/media/sounds/the-sound-of-silence.mp3

audio#alarm-sound
    source(type='audio/mpeg' src='')

script(src='https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js')
script(src='https://kit.fontawesome.com/36321d34e2.js')
script(type='application/javascript' src='/socket.io/socket.io.js')
script(type='application/javascript' src='/js/dist/bundle.js')
script(type='application/javascript').
    var slideout = new Slideout({
                                    'panel': document.getElementById('panel'),
                                    'menu': document.getElementById('settings'),
                                    'padding': 400,
                                    'tolerance': 70,
                                    'side': 'right'
                                });
    // Toggle button
    document.querySelector('.settings-button').addEventListener('click', function () {
        slideout.toggle();
    });
